.skillshare-logo-1-icon2 {
    width: 100px;
    height: 100px;
    position: relative;
    object-fit: cover;
  }
  .frame-skillshare-logo1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-4xs) 0 0;
  }
  .text-login1 {
    height: 1px;
    width: 2px;
    position: relative;
    border-top: 1px solid var(--b1);
    box-sizing: border-box;
    opacity: 0;
  }
  .home12 {
    position: relative;
    text-transform: capitalize;
    margin-left: -2px;
  }
  .nav18 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .home13 {
    position: relative;
    text-transform: capitalize;
  }
  .instancenav {
    width: 15px;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--b1);
    box-sizing: border-box;
  }
  .nav19 {
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home14 {
    position: relative;
    text-transform: capitalize;
    white-space: nowrap;
  }
  .nav1-child1 {
    height: 1px;
    width: 2px;
    position: relative;
    border-top: 1px solid var(--b1);
    box-sizing: border-box;
    opacity: 0;
    margin-left: -2px;
  }
  .nav110 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .home15 {
    position: relative;
    text-transform: capitalize;
    white-space: nowrap;
  }
  .nav1-child2 {
    height: 1px;
    width: 2px;
    position: relative;
    border-top: 1px solid var(--b1);
    box-sizing: border-box;
    opacity: 0;
    margin-left: -2px;
  }
  .nav111 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .quick-link-frame,
  .text-home {
    display: flex;
    align-items: flex-start;
  }
  .text-home {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-10xs) 0 0;
    gap: var(--gap-xl);
  }
  .quick-link-frame {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-11xs) var(--padding-12xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .login2 {
    position: relative;
    text-transform: capitalize;
    font-weight: 600;
    white-space: nowrap;
  }
  .input-component-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-11xs);
  }
  .signup5 {
    position: relative;
    font-size: var(--nav-1-size);
    text-transform: capitalize;
    font-weight: 600;
    font-family: var(--nav-1);
    color: var(--color-white);
    text-align: left;
  }
  .find-people-frame,
  .signup4 {
    display: flex;
    flex-direction: row;
  }
  .signup4 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs);
    background-color: var(--p1);
    flex: 1;
    border-radius: var(--br-8xs);
    align-items: center;
    justify-content: center;
  }
  .search:hover,
  .signup4:hover {
    background-color: var(--color-darkturquoise);
  }
  .find-people-frame {
    width: 187px;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 50px;
    font-size: var(--input-size);
    color: var(--p1);
  }
  .f-r-a-m-e-l-i-n-e,
  .parent-frame-bottom-nav {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .parent-frame-bottom-nav {
    width: 786px;
    align-items: center;
    justify-content: flex-start;
    gap: 0 164px;
  }
  .f-r-a-m-e-l-i-n-e {
    align-self: stretch;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--nav-1-size);
    color: var(--b1);
    font-family: var(--nav-1);
  }
  .find-people {
    margin: 0;
    position: relative;
    font-size: inherit;
    text-transform: capitalize;
    font-weight: 600;
    font-family: inherit;
  }
  .neighborhood-label {
    width: 263px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .label1,
  .label2 {
    position: relative;
    line-height: 20px;
  }
  .label2 {
    align-self: stretch;
    width: 8px;
    color: var(--denotative-error-600);
    display: none;
  }
  .label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 4px;
    color: var(--layout-800);
  }
  .leading-icon {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .l-leading-icon {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .prefix1 {
    position: relative;
    line-height: 22px;
  }
  .prefix {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .default {
    flex: 1;
    position: relative;
    line-height: 22px;
  }
  .input-text,
  .left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .input-text {
    flex: 1;
  }
  .left-container {
    width: 236px;
    gap: 0 4px;
  }
  .suffix1 {
    position: relative;
    line-height: 22px;
    white-space: nowrap;
  }
  .suffix {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .trailing-icon {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .r-trailing-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    mix-blend-mode: normal;
  }
  .right-container {
    justify-content: flex-end;
    gap: 0 6px;
  }
  .container,
  .placeholder,
  .right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .placeholder {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-7xs);
  }
  .container {
    align-self: stretch;
    border-radius: var(--br-9xs);
    background-color: var(--layout-200);
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-base);
    font-size: var(--input-size);
  }
  .help {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 16px;
  }
  .validation-text {
    width: 103px;
    height: 18px;
    position: relative;
    display: none;
    font-size: var(--validation-size);
  }
  .frame-with-icon,
  .input-component {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .input-component {
    flex: 1;
    flex-direction: column;
    gap: 6px 0;
  }
  .frame-with-icon {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 0 var(--padding-10xs);
  }
  .label4,
  .label5 {
    position: relative;
    line-height: 20px;
  }
  .label5 {
    align-self: stretch;
    width: 8px;
    color: var(--denotative-error-600);
    display: none;
  }
  .label3,
  .text-search-label {
    display: flex;
    flex-direction: row;
  }
  .label3 {
    align-items: center;
    justify-content: center;
    gap: 0 4px;
  }
  .text-search-label {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-9xs) 0 var(--padding-10xs);
  }
  .label7,
  .label8 {
    position: relative;
    line-height: 20px;
  }
  .label7 {
    height: 20px;
    flex: 1;
    display: inline-block;
  }
  .label8 {
    color: var(--denotative-error-600);
  }
  .label6 {
    width: 91px;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 4px;
    color: var(--layout-800);
  }
  .leading-icon1 {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .l-leading-icon1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .prefix3 {
    position: relative;
    line-height: 22px;
  }
  .prefix2 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .default1 {
    flex: 1;
    position: relative;
    line-height: 22px;
  }
  .input-text1,
  .left-container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .input-text1 {
    flex: 1;
  }
  .left-container1 {
    width: 236px;
    gap: 0 4px;
  }
  .suffix3 {
    position: relative;
    line-height: 22px;
  }
  .suffix2 {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .trailing-icon1 {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .r-trailing-icon1 {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    mix-blend-mode: normal;
  }
  .container1,
  .placeholder1,
  .right-container1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .right-container1 {
    width: 22px;
    justify-content: flex-end;
    gap: 0 6px;
  }
  .container1,
  .placeholder1 {
    flex: 1;
  }
  .placeholder1 {
    justify-content: space-between;
    gap: 4px;
  }
  .container1 {
    border-radius: var(--br-9xs);
    background-color: var(--layout-300);
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-base);
    font-size: var(--input-size);
  }
  .help1 {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 16px;
  }
  .validation-text1 {
    width: 103px;
    height: 18px;
    position: relative;
    display: none;
    font-size: var(--validation-size);
  }
  .input-component1,
  .search-frame {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .input-component1 {
    flex: 1;
    gap: 6px 0;
    color: var(--layout-700);
  }
  .search-frame {
    height: 70px;
    gap: 4px 0;
    color: var(--layout-800);
  }
  .search1 {
    position: relative;
    font-size: var(--nav-1-size);
    text-transform: capitalize;
    font-weight: 600;
    font-family: var(--nav-1);
    color: var(--color-white);
    text-align: left;
  }
  .search {
    cursor: pointer;
    border: 0;
    padding: var(--padding-8xs) 14px var(--padding-8xs) var(--padding-mini);
    background-color: var(--p1);
    border-radius: var(--br-8xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .label-for-input,
  .second-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .second-frame {
    align-self: stretch;
    gap: 63px 0;
  }
  .label-for-input {
    width: 297px;
    padding: 25px 0 0;
    box-sizing: border-box;
    min-width: 297px;
  }
  .image-2-icon {
    height: 406px;
    width: 466px;
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
  .first-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--nav-1-size);
    color: var(--layout-700);
    font-family: var(--nav-1);
  }
  .find-people-frame1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 27px 0;
    max-width: 100%;
  }
  .text-search {
    width: 1054px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 38px 0 0;
    box-sizing: border-box;
  }
  .frame-frame1,
  .frame-home1,
  .text-search {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-frame1 {
    width: 1193px;
    flex-direction: column;
    align-items: center;
    gap: 75px 0;
  }
  .frame-home1 {
    width: 1282px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: center;
    font-size: var(--font-size-29xl);
    color: var(--b2);
    font-family: var(--font-advent-pro);
  }
  .bottom9,
  .v-yage4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .bottom9 {
    margin: 0 !important;
    right: 0;
    bottom: 0;
    background-color: var(--p1);
  }
  .v-yage4 {
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
  }
  .reshot-icon-travel-abroad-uhrq4 {
    position: absolute;
    top: 10px;
    left: 27px;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
  .get-out-and4,
  .logo10 {
    position: absolute;
    left: 0;
  }
  .logo10 {
    top: 0;
    width: 165px;
    height: 59px;
  }
  .get-out-and4 {
    top: 63px;
    font-size: var(--nav-1-size);
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
  }
  .logo9 {
    height: 83px;
    width: 175px;
    position: relative;
    display: none;
    font-size: var(--font-size-29xl);
    color: var(--color-white);
  }
  .quick-links9 {
    margin: 0;
    position: relative;
    font-size: var(--font-size-5xl);
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
    font-family: inherit;
    color: var(--b2);
  }
  .home16 {
    color: var(--color-white);
  }
  .contact-us4,
  .explore4,
  .home16,
  .privacy-policy4,
  .write-to-us4 {
    position: relative;
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
  }
  .privacy-policy4 {
    width: 103px;
    display: none;
  }
  .quick-links8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lgi);
  }
  .features9 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-5xl);
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
    color: var(--b2);
  }
  .gallery4,
  .list-of-tours4,
  .popular-destination4,
  .travel-on-a4,
  .vacation-packages4 {
    position: absolute;
    top: 43.93%;
    left: 0;
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
  }
  .gallery4,
  .list-of-tours4,
  .travel-on-a4,
  .vacation-packages4 {
    top: 81.31%;
  }
  .gallery4,
  .list-of-tours4,
  .travel-on-a4 {
    top: 118.69%;
    display: none;
  }
  .gallery4,
  .travel-on-a4 {
    top: 156.07%;
  }
  .travel-on-a4 {
    top: 193.46%;
  }
  .features8 {
    height: 107px;
    width: 145px;
    position: relative;
    display: none;
  }
  .follow-us4 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
    font-family: inherit;
  }
  .icons8-facebook-32-14 {
    height: 32px;
    width: 32px;
    position: relative;
    object-fit: cover;
  }
  .icons8-instagram-circle-18,
  .icons8-twitter-14 {
    height: 30px;
    width: 30px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icons8-twitter-14 {
    height: 45px;
    width: 45px;
  }
  .icons8-instagram-circle-1-parent {
    flex: 1;
    flex-direction: row;
    align-items: center;
  }
  .icon-frame,
  .icon4,
  .icons8-instagram-circle-1-parent {
    display: flex;
    justify-content: flex-start;
  }
  .icon-frame {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: 0 11px;
  }
  .icon4 {
    width: 118px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-8xs);
    font-size: var(--font-size-5xl);
    color: var(--b2);
  }
  .icons8-instagram-circle-19 {
    height: 30px;
    width: 30px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .bottom8,
  .bottomnav4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .bottomnav4 {
    width: 628px;
    justify-content: space-between;
    gap: var(--gap-xl);
    z-index: 1;
  }
  .bottom8 {
    align-self: stretch;
    justify-content: flex-end;
    padding: var(--padding-67xl) var(--padding-278xl);
    box-sizing: border-box;
    position: relative;
    min-height: 399px;
  }
  .bottom11,
  .v-yage5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .bottom11 {
    margin: 0 !important;
    right: 0;
    bottom: 0;
    background-color: var(--p1);
  }
  .v-yage5 {
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
  }
  .reshot-icon-travel-abroad-uhrq5 {
    position: absolute;
    top: 10px;
    left: 27px;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
  .get-out-and5,
  .logo12 {
    position: absolute;
    left: 0;
  }
  .logo12 {
    top: 0;
    width: 165px;
    height: 59px;
  }
  .get-out-and5 {
    top: 63px;
    font-size: var(--nav-1-size);
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
  }
  .logo11 {
    height: 83px;
    width: 175px;
    position: relative;
    display: none;
    font-size: var(--font-size-29xl);
    color: var(--color-white);
  }
  .quick-links11 {
    margin: 0;
    position: relative;
    font-size: var(--font-size-5xl);
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
    font-family: inherit;
    color: var(--b2);
  }
  .home17 {
    color: var(--color-white);
  }
  .contact-us5,
  .explore5,
  .home17,
  .privacy-policy5,
  .write-to-us5 {
    position: relative;
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
  }
  .quick-links10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lgi);
  }
  .features11 {
    margin: 0;
    font-size: var(--font-size-5xl);
    font-family: inherit;
    color: var(--b2);
  }
  .features11,
  .gallery5,
  .list-of-tours5,
  .popular-destination5,
  .travel-on-a5,
  .vacation-packages5 {
    position: relative;
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
  }
  .gallery5,
  .list-of-tours5,
  .travel-on-a5 {
    width: 92px;
    display: none;
  }
  .gallery5,
  .travel-on-a5 {
    width: 51px;
  }
  .travel-on-a5 {
    width: 133px;
  }
  .features-wrapper,
  .features10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .features10 {
    gap: var(--gap-lgi);
  }
  .features-wrapper {
    width: 170px;
  }
  .follow-us5 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.08em;
    line-height: 122.34%;
    font-weight: 500;
    font-family: inherit;
  }
  .icons8-facebook-32-15 {
    height: 32px;
    width: 32px;
    position: relative;
    object-fit: cover;
  }
  .icons8-instagram-circle-110,
  .icons8-twitter-15 {
    height: 30px;
    width: 30px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icons8-twitter-15 {
    height: 45px;
    width: 45px;
  }
  .instagram-icon {
    flex-direction: row;
    align-items: center;
  }
  .icon5,
  .icons8-facebook-32-1-group,
  .instagram-icon {
    display: flex;
    justify-content: flex-start;
  }
  .icons8-facebook-32-1-group {
    flex-direction: row;
    align-items: center;
    gap: 0 11px;
  }
  .icon5 {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-8xs);
    font-size: var(--font-size-5xl);
    color: var(--b2);
  }
  .icons8-instagram-circle-111 {
    height: 30px;
    width: 30px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .bottom10,
  .bottomnav5 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .bottomnav5 {
    width: 628px;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    z-index: 1;
  }
  .bottom10 {
    align-self: stretch;
    align-items: center;
    justify-content: flex-end;
    padding: var(--padding-67xl) var(--padding-278xl);
    box-sizing: border-box;
    position: relative;
    z-index: 3;
  }
  .skillshare-logo-3-icon1 {
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2;
  }
  .logo-frame2,
  .skillshare-logo-3-icon1,
  .skillshare-logo-4-icon1 {
    width: 100px;
    height: 100px;
    position: absolute;
  }
  .skillshare-logo-4-icon1 {
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 4;
  }
  .logo-frame2 {
    margin: 0 !important;
    top: 143px;
    left: 143px;
  }
  .bottom-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    margin-top: -399px;
  }
  .bottom-nav-frame,
  .neighbourhoods {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .bottom-nav-frame {
    margin-top: -8px;
    margin-left: 4px;
    margin-bottom: -8px;
    align-self: stretch;
    align-items: flex-start;
    max-width: 100%;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--nav-1-size);
    color: var(--b6);
    font-family: var(--font-advent-pro);
  }
  .neighbourhoods {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    align-items: center;
    padding: var(--padding-27xl) 0 0 var(--padding-9xs);
    box-sizing: border-box;
    gap: 112px 0;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .frame-frame1 {
      gap: 75px 0;
    }
    .bottom10,
    .bottom8 {
      padding-left: var(--padding-129xl);
      padding-right: var(--padding-129xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 900px) {
    .find-people-frame {
      display: none;
    }
    .parent-frame-bottom-nav {
      width: 599px;
    }
    .frame-frame1 {
      gap: 75px 0;
    }
    .bottom8 {
      padding-left: var(--padding-55xl);
      padding-right: var(--padding-55xl);
      box-sizing: border-box;
    }
    .bottomnav5 {
      flex-wrap: wrap;
    }
    .bottom10 {
      padding-left: var(--padding-55xl);
      padding-right: var(--padding-55xl);
      box-sizing: border-box;
    }
    .neighbourhoods {
      gap: 112px 0;
    }
  }
  @media screen and (max-width: 450px) {
    .parent-frame-bottom-nav {
      gap: 0 164px;
    }
    .find-people {
      font-size: var(--font-size-10xl);
    }
    .second-frame {
      gap: 63px 0;
    }
    .v-yage4 {
      font-size: var(--font-size-10xl);
      line-height: 35px;
    }
    .features9,
    .follow-us4,
    .quick-links9 {
      font-size: var(--font-size-lgi);
      line-height: 23px;
    }
    .bottomnav4 {
      flex-wrap: wrap;
    }
    .bottom8 {
      padding: var(--padding-37xl) var(--padding-xl);
      box-sizing: border-box;
    }
    .v-yage5 {
      font-size: var(--font-size-10xl);
      line-height: 35px;
    }
    .features11,
    .follow-us5,
    .quick-links11 {
      font-size: var(--font-size-lgi);
      line-height: 23px;
    }
    .bottom10 {
      padding: var(--padding-400xl) var(--padding-xl) var(--padding-37xl);
      box-sizing: border-box;
    }
    .neighbourhoods {
      gap: 112px 0;
    }
  }